body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #28282b;
}

header {
    background-color: #00FFFF;
    color: #28282b;
    padding: 2rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 1rem;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease; 
}

nav a:hover {
    color: #00FFFF; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}


.card {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

button {
    background-color: #00FFFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease; 
}

button:hover {
    background-color: #b928c6; 
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}


@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}
